@font-face
{
  font-family: "Open Sans";
  src: url('Polices/OpenSans-Regular.ttf')
}

.italic
{
  font-style: italic;
}

.monospace
{
  font-family: monospace;
  font-size: .9em;
}

body
{

  margin : 2em auto;
  padding : 1em;
  max-width: 800px;
  font-size : 16px;
  line-height: 1.4;
  color : #454545;
  font-family : 'Open Sans';

}

a:link
{
    color : #0077aa;
}

a:visited
{
  color : #941352;
}
.red
{
  color : red;
  text-decoration:  underline;
}

.petit
{
  font-size: 0.4em;
}

.redb
{
  color : #730000;

}

.espace
{
  word-spacing: 14px;
}

.blue
{
  color : #00e;
}

.violet
{
  color : #551a8b;
  cursor: not-allowed;
}

.flotte
{
  float: left;
  width: 40%;
  margin-right: 1em;
}

.legende
{
  font-size: 0.7em;
}

.bouton
{
  position: absolute;
  font-size: 0.8em;
  right: 10px;
}

.citation
{
  clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique;
}

.petit1
{
  font-size: .7em;
  vertical-align: top;
}

.kopimi
{
  height: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rvisited
{
  color : #941352;
}

.logo
{
  height: 1em;
}
