<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip</h1>
    <p>Veut tu creer un <a href ="/gossips/new/">potin ?</p></a> 

<%i = 0 %> <!-- On boucle sur le tableau de gossip et on les affiches tous-->
<% while i < gossips.size %>
	<p>
	   <a href = "gossips/<%=i%>/"> Potin n <%= i %></a>
	   <br > 
	  <%= gossips[i].author %>
	  <br >
	  <%= gossips[i].content %>
	</p>
	<% i = i + 1 %>
    <% end %> 
  </body>
</html>
