<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= id %></h1>
         <p>Son auteur : <%=show.author%></p> <!-- Fornulaire show potin -->
	  <br/>
          <p>Le contenu du potin : <%= show.content%></p>
	  <p>Revenir a la page des <a href ="/"> potins !</a></p>

	  <a href = "edit/">Editer le potin</a>
</body>
</html>


